extends layout

block content
  form(method="POST" enctype="application/x-www-form-urlencoded" action="/create-personne")
    h1 Sign up for the wilder to wish you a happy birthday

    br 
    p Name *: 
    input(type="text" name="hack_name" placeholder="Nom"  size="50" maxlength="50")
    br
    br
    p Firstname *: 
    input(type="text" name="hack_firstname" placeholder="Prénom"  size="50" maxlength="250")
    br
    br
    p Birthday *:
    input(type="text" name="hack_birthday" placeholder="AAAA-MM-JJ"  size="50" maxlength="250")
    br
    br
    p City *: 
    input(type="text" name="hack_city" placeholder="Ville" size="50" maxlength="250")
    br
    br
    p Postal code *: 
    input(type="text" name="hack_code" placeholder="Code Postal"  size="50" maxlength="250")
    br
    br
    p E-mail *: 
    input(type="text" name="hack_mail" placeholder="google.goole@google.com"  size="50" maxlength="250")
    br
    br
    p Create your password *:
    input(type="text" name="hack_pass" placeholder="password" size="50" maxlength="250")
    br
    br
    button(class="place" type="submit") Enregistrer
