header
  nav
    img(src='images/deer2.fw.png', alt='pain')
    ul
      li
        a(href='/') Home
      li
        a(href='/login') Log in   
      li 
        a(href='/formulaire') Create a new account
