extends layout

block content
  h1 Welcome to the Wild Code School 
  img(src='images/deer2.fw.png', alt='pain')
  h2 To fill the table, you must register on the site.
  
  button.button-formulaire(type="submit" href='formulaire') Inscription
